.button { /* Set style for all buttons */
    -fx-text-fill: #b21eff; /* Sets font colour (hex) */
    -fx-background-color: #2506d0; /* Sets background colour */
    -fx-padding: 5px; /* Inner spacing on all sides */
}
#ok { /* Set style for just OK button */
    -fx-font-weight: bold; /* Set font to bold */
}